*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/*--header--*/
.progress{
  position: fixed;
  left: 0;
  right: 0;
  width: 0%;
  height: 3px;
  background-color: rgb(255, 230, 2);
  z-index: 495;
}
/*-first-*/
.first{
  background-image: url('../img/fitnes1\ \(FILEminimizer\).jpg');
  background-attachment: fixed;
  height: 130vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.first img{
  position: absolute;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin-top:7vh;
  left:10vw;
}
.first_content{
  margin-top: 40vh;
  
  width: 40vw;
  padding-left: 5vw;
 
}
.first_content h2{
font-size: 4rem;
font-weight: 700;
text-transform: uppercase;
color: orange;
mix-blend-mode: color-dodge;
z-index: 33;
}

.first_content p{
  color: orange;
  font-size: 16px;
  z-index: 33;
}
.first_wrap{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  z-index: 33;
  transform: translate(0px,30%);
  transition: all 2s ease 0s;
  opacity: 0;
}
.first_wrap.active{
  transform: translate(0px,0px);
  opacity: 1;
}
.first_form{
  
  width: 300px;
  height: 300px;
  margin-top: 40vh;
  padding-left: 0px;
}
input{
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: rgba(243, 203, 150, 0.178);
  color: white;
  font-size: 18px;
  font-weight: 600;
}
.btn-warning{
margin-left:30%;
}

.first_form h3{
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: orange;
  
  }

  .first_form label{
    color: orange;
  font-size: 1rem;
  font-weight: 700;
  }

  /*=second-*/
  .second{
    height: 60vh;
    margin:10vh auto 20vh auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  iframe{
    margin-top: 10vh;
    height: 250px;
    width: 400px;
    box-shadow: grey 10px 10px 10px 7px;
  }
  .second_content{
    width: 50vw;
    margin-top: 10vh;
  }
  .second_content h2{
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: orange;
  }
  .second_content p{
    font-size: 1.1rem;
    font-weight: 600;
  }
  .title{
  transform: translate(0px,50%);
  transition: all 1s ease 0s;
  opacity: 0;
  }
  .title.active{
  transform: translate(0px,0px);
  opacity: 1;
  }
  .title_p{
  transform: translate(0px,50%);
  transition: all 1s ease .4s;
  opacity: 0;
  }
  .title_p.active{
    transform: translate(0px,0px);
    opacity: 1;
  }


/*-third-*/
.third{
  height: 120vh;
  padding:27vh;
  background-image: url('../img/spinning-class\ \(FILEminimizer\).jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: darkkhaki;
}
.fourth{
  background-image: url('../img/banyangym3000x1730lite\ \(FILEminimizer\).jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: cornflowerblue;
}
.fifth{
  background-image: url('../img/Short-Workouts-Karp-Fitness-Vancouver-1184x671\ \(FILEminimizer\).jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}
.third_content{
  width: 40vw;
 
}
.third_content h2{
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: orange;
}
.third_content p{
  font-size: 1rem;
  color: white;
}
.left{
  margin-left: 0px;
  transform: translate(-50%,0px);
  transition: all 1s ease .4s;
  opacity: 0;
}
.left.active{
  transform: translate(0px,0px);
  opacity: 1;
}
/*-six-*/
.sixth{
  height: 100vh;
  text-align: center;
  padding:20vh;
}
.sixth h2{
  font-size: 4rem;
  margin-bottom: 10vh;
}
.sixth p{
  font-size: 1.2rem;
}
/*-seven-*/
.seven{
  height: 120vh;
  padding:27vh;
  background-image: url('../img/spinning-class\ \(FILEminimizer\).jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.seven_content h3{
  font-size: 3rem;
  color: orange;
  margin-bottom: 10vh;
}

/*--footer--*/
footer{
  height: 5vh;
  padding:1vh;
  text-align: center;
}
@media (max-width:1024px) {
  .first {
      height: fit-content;
  
}
.second{
  height: fit-content;
}
.sixth{
  height: fit-content;
}
}

@media (max-width:640px) {
  .first_wrap{
    transform: translate(0px,5%);
  }
 
  .first_content,
  .second_content,
  .third_content,
  .sixth-content,
  .seven_content{
    width:80vw;
  }
  .third,
  .sixth,
  .seven{
   padding-top:30vh;
   padding-left:5vw;
   padding-right: 5vw;
  }
  .first_content h2{
    font-size: 3rem;
  
}
.first_form{
  margin-top: 10vh;
}
}
@media (max-width:450px){
  iframe{
    
    height: 200px;
    width: 280px;
}
  .first_form{
width: 280px;
height: 300px;
}
.seven_content h3{
  font-size: 2rem;
}